<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Voice GPT</title>
    <style>
      .container{
        min-height: 30vh;
        background : #f4f4f4;
        display: flex;
        justify-content: center;
        
        align-items: center;  
        margin: 61px auto;
        boredr-radius: 12px;
      }
      
      .chats{
        justify-content: center;
        flex-direction: column;
        
        align-items: flex-start;
        
      }
      hr{
        margin-left:0;
        margin-right: 0;
        width: 100%;
      }
    </style>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand text-white" href="#">VoiceGPT-AI</a>
      <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
        
      </div>
    </nav>
    <h1 class="text-center py-2">Welcome to VoiceGPT</h1>
    <div class="container">
      <button id="start" type="button" class="btn btn-success mx-2">Start</button>
      <button id="stop" type="button" class="btn btn-danger mx-2">Stop</button>
    </div>
      
  

    <div class="container chats ">
      <h2>Your Responses</h2>
        <div>Question: Your Questions </div>
        <div>Answer: Answers will appear here</div>
      <hr>
    </div>
    
    

    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      async function postData(url = "", data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
          method: "POST",
          mode: "cors", 
          cache: "no-cache", 
          credentials: "same-origin", 
          headers: {
            "Content-Type": "application/json",

          },
          redirect: "follow", 
          referrerPolicy: "no-referrer", 
          body: JSON.stringify(data), 
        });
        return response.json(); 
      }

      
      const populateUsingGpt = (input) =>{
        postData("/api", { input: input }).then((data) => {
          console.log(data.message); 
          document.querySelector(".chats").innerHTML = 
            document.querySelector(".chats").innerHTML+ `<div>Question: ${input}</div>
          <div>Answer: ${data.message}</div>
          <hr>`
        });
        
      }

      let speech = true;
      let globalTranscript;
      window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
      const recognition = new SpeechRecognition();
      recognition.interimResults = true;

      recognition.addEventListener("result", (e) => {
        const transcript = Array.from(e.results)
        .map(result => result[0])
        .map(result => result.transcript)
        .join("");


        globalTranscript = transcript;

      });
      // Example POST method implementation:
      
      
      
      start.addEventListener('click', () => {
        if (speech == true) {
          recognition.start();
          recognition.addEventListener("end", () => {
            console.log(globalTranscript)
            
            if (globalTranscript !== "") {
              populateUsingGpt(globalTranscript)
            }
            globalTranscript=""
            
         
        });
      }       
    });
      
    
    </script>




    <footer class="py-4 my-4">
      
      <p class="text-center text-body-secondary">©2023 Rufus , Inc</p>
    </footer>
  </body>
</html>